{% extends 'base.html' %}

{% block content %}

<h1 class="titletext"> 글 수정하기 </h1>
<div class="card-body" style="align-self:center" margin-left= auto; margin-right= auto;>
<form method = "POST" action = "{% url 'edit' evaledit.id %}">

{% csrf_token %}

<div class="card" style="width: 50%; margin-right: 60px; margin-left: auto; margin-right:auto; margin-bottom: 20px; padding:20px;">
<div class="bodytext" style="font-family: 'Jua', sans-serif; text-align:center;">
제목을 입력해주세요.
<br>
<input type = "text" name = "title" value = "{{evaledit.title}}">
<br>
종합적인 평가 내용을 입력해주세요.
<br>
<textarea cols = "40" rows = "10" name = "body">{{evaledit.body}}</textarea>
<br>
<br>
</div>
</div>
</div>
<div id="btn_group">
<input class="btn btn-info" type = "submit" value = "수정 완료!" style="font-size:18px; height: 38px;"> 
</form>
</div>
{% endblock %}