<!-- 작성한 평가 자세히 보는 페이지 -->
{% extends 'base.html' %}

{% block content %}

<h1 class="titletext"> 강의 평가 자세히 보기 </h1>
<div class="lecturelistbody">

<h3> {{evals.title}} </h3>
<p> {{evals.pub_date}} </p>
<p> {{evals.body}} </p>
</div>
<br>
{% if evals.author == user %}
<div id="btn_group">
<button name = "edit"  id="test_btn5"> <a href = "{% url 'edit' evals.id %}"> 수정하기 </a> </button>
<button name = "delete"  id="test_btn5"> <a href = "{% url 'delete' evals.id %}"> 삭제하기 </a></button>
</div>
{% else %}
<div class = "alert alert-warning" style="text-align:center; font-family: 'Jua', sans-serif;"> 글을 수정/삭제할 수 없습니다. </div>

{% endif %}
<div id="btn_group">
<button name = "lecturelist" id="test_btn5"> <a href = "{% url 'lecturelist' %}" style="text-decoration:none"> 강의목록으로 돌아가기 </a> </button>
</div>


{% endblock %}