{% extends 'base.html' %}

{% block content %}

<!-- 강의 리스트 -->
<h1 class="titletext"> 강의 리스트 </h1>
<div id="btn_group">
<button id="test_btn1"><a href="{% url 'filteringM' %}" style="text-decoration:none">전공</a></button>
<button id="test_btn2"><a href="{% url 'filteringL' %}" style="text-decoration:none">교양</a></button>
<button id="test_btn3"><a href="{% url 'showLecture' %}" style="text-decoration:none">모두 보기</a></button>
</div>
<br>

<br>

{% for lect in lectures.all %}
<div class=lecturelistbody>
<h2> {{lect.lectureName}} </h2>
<p> {{lect.professor}} </p>
<p> {{lect.major}} </p>
<p> {{lect.separation}} </p>
</div>

<div id="btn_group">
<button id="test_btn6"> <a href = "{% url 'evallist' lect.id %}"> 강의 평가 목록 </a> </button> </div>
{% endfor %}

{% endblock %}