<!-- 강의평 작성 페이지 -->

{% extends 'base.html' %}

{% block content %}

<h1 class="titletext">강의평 글쓰기 </h1>
<div class="card-body" style="align-self:center" margin-left= auto; margin-right= auto;>
<form method = "POST" action = "{% url 'create' %}" style="text-align:center;">

    {% csrf_token %}
<br>
<div class="card" style="width: 50%; margin-right: 60px; margin-left: auto; margin-right:auto; margin-bottom: 20px; padding:20px;">
<div class="bodytext" style="font-family: 'Jua', sans-serif;">
강의명을 입력해주세요 :
<br>
(※ 강의명 전체를 입력해주세요.)
<br>
<input type = "text" name = "lect_name">
<br>
제목을 입력해주세요.
<br>
<input type = "text" name = "title">
<br>
종합적인 평가 내용을 입력해주세요.
<br>
<textarea cols = "40" rows = "10" name = "body"></textarea>
<br>
<br>
</div>
</div>
</div>
</div>
<!--아이디를 입력해주세요 : 
<br>
<input type = "text" name = "eval_author">
<br>-->

<div id="btn_group">
<input class="btn btn-info" type = "submit" value = "제출" style="font-size:18px; height: 38px;">
</form>
<button name = "lecturelist" id="test_btn5"> <a href = "{% url 'lecturelist' %}" style="text-decoration:none"> 목록으로 돌아가기 </a> </button>
</div>
<br>
<br>
{% endblock %}