<!-- 강의평 작성 페이지 -->
<h1>강의 평 글 쓰기 </h1>

<form method = "POST" action = "{% url 'create' %}">

{% csrf_token %}

학점 비율
<input type = "radio" name = "ratio_select" value = "학점느님"> 학점느님
<input type = "radio" name = "ratio_select" value = "골고루"> 골고루
<input type = "radio" name = "ratio_select" value = "깐깐징어"> 깐깐징어
<input type = "radio" name = "ratio_select" value = "F 박격포"> F 박격포
<br>
종합적인 평가 내용을 입력해주세요.
<br>
<textarea cols = "30" rows = "20" name = "texts"></textarea>
<br>
<br>
<input type = "submit" value = "제출"> 
</form>