<!--첫 화면/ 강의 및 교수명을 검색할 수 있고 모든 강의 리스트를 볼 수 있는 링크-->
{% extends 'base.html' %}

{% block content %}
<h1 class="titletext">강의 평가</h1>
<div>
    <form class="navbar-form form-inline" action="{% url 'searchResult' %}">
	<div class="input-group search-box" style="left: 50%; transform: translatex(-60%);">
        <input type='text' name=txt id="search" class="form-control" placeholder="강의명이나 교수명 입력">
        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        
    </div>
    </form>
</div>

{% for e in evals %}
<div class="evallist" style="text-align:center;">
    <h3>{{e.lect}}</h3>
    <p>{{e.title}}</p>
    <p>{{e.summary}} <a href="{% url 'evaldetail' e.id %}">...more</a></p>

{% endfor %}

<div>
    {% if evals.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{evals.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{evals.number}}</span>
    <span>of</span>
    <span>{{evals.paginator.num_pages}}</span>

    {% if evals.has_next %}
        <a href="?page={{evals.next_page_number}}">Next</a>
        <a href="?page={{evals.paginator.num_pages}}">Last</a>
    {% endif %}
</div>
</div>
{% endblock %}

