<!--검색결과 페이지/ 강좌명과 교수명만 출력, 이를 누르면 강의 평가와 이어지도록 만들기-->
{% extends 'base.html' %}

{% block content %}
<h1 class="titletext">검색결과</h1>

{% for r in result %}
<div class="lecturelistbody">
    <p>강좌명: {{r.lectureName}} <br> 교수명: {{r.professor}}</p>
</div>
<div id="btn_group">
<button id="test_btn5"> <a href = "{% url 'evallist' r.id %}" style="text-decoration:none"> 강의평 작성하러가기 </a></button>
</div>
{% empty %}
    <p style="text-align:center; font-family: 'Jua', sans-serif;">검색 결과가 없습니다. 검색어를 제대로 입력해주세요.</p> 
{% endfor%}

{% endblock %}